<center>
<div class="tags-header">
  <h3>Categories</h3>
  <h2>View questions by category.</h2>
  <br>
</div>
<div class="tags-body">
  <p>
    <% @tags.each do |tag| %>
       <%= link_to tag.name, tag %>         
    <% end %>
  </p>
</div>
<br>
<br>
<br>
<br>
</center>
