<center>
<div class="about-header">
<h1>CodeSource</h1>
<h2>Helping you help yourself learn to code.</h2>
</div>
<br>
<h4>Content will go here.</h4>
<h4>Created by <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> with special thanks to <a href="http://twitter.com/flatironschool" target="_blank">The Flatiron School.</a></h4>
</center>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

   <script>
jQuery(document).ready(function() {
      // script to type text in header
      var text = 'This is test content';

      // text is split up to letters
      $.each(text.split(''), function(i, letter){

          // add 100*i ms delay to each letter 
          setTimeout(function(){

              // add the letter to the container
              $('.about-header p').html($('.about-header p').html() + letter);

          }, 100*i);
      });
});
  </script> -->