<center>
<div class="about-header">
<h1>I<span>&hearts;</span>NY</h1>
<h2>Your guide to everything cool in New York City.</h2>
</div>
<br>
<h4>Indecisiveness plagues all New Yorkers from time to time.</h4>

</center>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

   <script>
jQuery(document).ready(function() {
      // script to type text in header
      var text = 'This is test content';

      // text is split up to letters
      $.each(text.split(''), function(i, letter){

          // add 100*i ms delay to each letter 
          setTimeout(function(){

              // add the letter to the container
              $('.about-header p').html($('.about-header p').html() + letter);

          }, 100*i);
      });
});
  </script> -->