@import url('http://fonts.googleapis.com/css?family=Expletus+Sans');
@import url('http://fonts.googleapis.com/css?family=Fjalla+One');
@import url('http://fonts.googleapis.com/css?family=Pompiere');


/*home page*/
h1 {
  padding-top: 100px;
  font-family: 'Expletus Sans';
  font-size: 100px;
  color: white;
}

span {
  color: red;
}

h6 {
  color: black;
  font-size: 40px;
  font-family: 'Fjalla One';
}

a, 
a:hover {
  text-decoration: none;
  transition-duration: .5s;
  transition-property: color;
  color: red;
}

a:hover {
  color: black;
}

.navbar-brand {
  font-family: 'Expletus Sans';
}

.tags-body {
  max-width: 900px;
}

.tags-body a {
  font-size: 40px;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition-duration: .7s;
  padding: 1px;
  border: 2px;
  border-color: red;
  border-style: solid;
}

.tags-body a:hover {
  background-color: red;
  color: black;
  border: 2px;
  border-style: solid;
  border-color: black;
  transition-duration: .7s;
  transition-property: background-color, border-color, color;
}

.topic-header a {
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 40px;
}

.navbar,
.navbar-default {
  margin-bottom: -21px;
}

/*inner page headers*/
h3 {
  padding-top: 70px;
  font-size: 60px;
  font-family: 'Fjalla One';
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

.individual-question h2 {
  color: red;
}

header {
  height: 100vh;
  background-image: image-url("nyc.jpg");
  background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
  min-height: 97%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.question-show-header {
  border-radius: 5px;
  border: 3px solid black;
  transition-duration: .7s;
}

.question-show-header:hover {
  border: 3px solid red;
  background: #66A8FF;
  transition-duration: .7s;
  transition-property: border, background;
}

.individual-question p {
  color: white;
  background: red;
}

#index-cover p {
  margin-top: 20px;
  font-size: 20px;
}

.btn, 
.btn-primary, 
.btn-lg {
  margin-top: 25px;
  background-color: white;
  background: rgb(254, 227, 210); /* Fall-back for browsers that don't support rgba */
  background: rgba(254, 227, 210, .7);
  border-radius: 5px;
  border-color: white;
}

.btn a, 
.btn-primary a, 
.btn-lg a {
  text-decoration: none;
  color: black;

}

.btn a:hover, 
.btn-primary a:hover, 
.btn-lg a:hover {
  text-decoration: none;
}

.search-form {
  margin-top: 20px;
  width: 300px;

}

.about-header h1,
.about-header h2,
.tags-header h2,
.topic-header h2,
.answers h2,
.edit-header h2, 
.user-show h2 {
  color: black;
}


.search-results h5 {
  color: red;
}

.field,
.question-field {
  max-width: 890px;
  font-size: 20px;
  padding: 5px;
}

.ask-question {
  max-width: 890px;
}

.field label {
  font-family: 'Pompiere';
  font-size: 25px;
}

.question-show {
  max-width: 1000px;
}

.answers h3,
h6 {
  padding-top: 20px;
}

textarea,
.field input,
.checkbox {
  margin: 5px;
  padding: 5px;
}

.actions {
  font-size: 25px;
  font-family: 'Fjalla One';
}

#error_explanation {
  background: red;
}

#error_explanation h2 {
  font-size: 25px;
  color: white;
}

#error_explanation li {
  color: white;
  list-style-type: none;
}

.field_with_errors label {
  color: red;
  margin: 5px;
}

.navbar-right img,
.individual-question img,
.search-results img,
.topic-header img,
.user-show img {
  border-radius: 50px;
}

.user-show {
  max-width: 900px;
}

.navbar-right {
  padding-right: 10px;
}

.user-show h2 span a {
  color: white;
  background: black;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid red;
  transition-duration: .5s;
}

.user-show h2 span a:hover {
  color: black;
  background: red;
  border: 2px solid black;
  transition-duration: .5s;
  transition-property: color, background, border;
}

.question-show p span {
  color: white;
}

.dash-answers h4 {
  color: red;
}

#notice {
  background: red;
  color: white;
}

/* Smaller Screens - 950px Breakpoint -------> */
@media screen and (max-width : 950px) {

  .navbar-right li:nth-child(2) {
    display: none;
  }

}

/* Smaller Screens - 820px Breakpoint -------> */
@media screen and (max-width : 820px) {

  .navbar-right li:nth-child(3) {
    display: none;
  }

}

/* Smaller Screens - 580px Breakpoint -------> */
@media screen and (max-width : 580px) {

  .user-show h2 span a {
    font-size: 30px
  }

}

/* Smaller Screens - 465px Breakpoint -------> */
@media screen and (max-width : 500px) {

  footer {
  
  }

}













