<header>
  <center>
  <div id="index-cover">
    <h1>I<span>&hearts;</span>NY</h1>
    <h2>Your guide to everything cool in New York City.</h2>
    <br><br>
    <br><br>
    <br><br>
    <% if !current_user %>
      <a href="/auth/facebook"><%= image_tag("facebook.png", width: "250") %></a>
    <% end %>
  </div>
  </center>
</header>