<center>
<footer>
  <h4>&copy; 2014 by <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> at <a href="http://twitter.com/flatironschool" target="_blank">The Flatiron School</a></h4>
</footer>
</center>